<template>
  <div>
    <div class="row dashboard-users">
      <div
        class="col-12 p-3 px-5"
        style="background-color: #ffffff">
        <p>Пользователи Системы</p>
      </div>
      <div class="col-12 datatables-actions">
        <div class="row p-3 px-5 d-flex flex-row">
          <div class="col-md-12 d-flex flex-row align-items-center h-100">
            <div>
              <span class="datatables-actions-search justify-content-center">
                <img :src="require('@/assets/icons/search.svg')">
              </span>
            </div>
            <div class="col-4 datatables-actions-types">
              <div class="dropdown">
                <button 
                  class="btn btn-secondary dropdown-toggle" 
                  type="button" 
                  @click="toggleUsersType()">
                  {{ typesSelectName }}
                </button>
                <div 
                  class="clearSearchBtn" 
                  @click="restoreTypes()">
                  <v-icon>settings_backup_restore</v-icon>
                </div>
                <div 
                  :class="['dropdown-menu', {show:openUsersType}]"
                  aria-labelledby="dropdownMenuButton">
                  <span
                    v-for="group of groups"
                    class="dropdown-item"
                    @click="selectUsersType(group)">
                    <img
                      :src="typesSelectIcons.fizlico"
                      alt="">
                    <span>{{ group.name }}</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-4 datatables-actions-types">
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  @click="toggleCities()">
                  {{ citiesSelectName }}
                </button>
                <div 
                  class="clearSearchBtn" 
                  @click="restoreCities()">
                  <v-icon>settings_backup_restore</v-icon>
                </div>
                <div
                  :class="['dropdown-menu', {show:openCities}]"
                  aria-labelledby="dropdownMenuButton">
                  <span
                    v-for="city of getCities"
                    class="dropdown-item"
                    @click="selectCities(city)">
                    <span>{{ city.name }}</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-4 dropdown-datapicker dropdown">
              <v-menu
                ref="menu2"
                :close-on-content-click="false"
                v-model="menu2"
                :nudge-right="0"
                :return-value.sync="picker"
                lazy
                transition="slide-x-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <input
                  slot="activator"
                  v-model="picker"
                  placeholder="Свои даты"
                  class="btn dropdown-toggle text-left"
                  type="text"
                  readonly>
                <v-date-picker
                  v-model="picker"
                  @input="$refs.menu2.save(picker)"/>
              </v-menu>
              <div
                class="clearSearchBtnDate"
                @click="restoreDate()">
                <v-icon>settings_backup_restore</v-icon>
              </div>
            </div>

            <div class="col datatables-actions-types">
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  @click="toggleStatus()">
                  {{ statusSelectName }}
                </button>
                <div 
                  class="clearSearchBtn" 
                  @click="restoreStatuses()">
                  <v-icon>settings_backup_restore</v-icon>
                </div>
                <div
                  :class="['dropdown-menu', {show:openStatus}]"
                  aria-labelledby="dropdownMenuButton">
                  <span
                    v-for="status of statuses"
                    class="dropdown-item"
                    @click="selectStatus(status)">
                    <img
                      :src="statusSelectIcons[status.value]"
                      alt="">
                    <span>{{ status.name }}</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col viewBtn">
              <button 
                class="btn" 
                @click="searchInTable()">
                Показать
              </button>
            </div>
          </div>
        </div>
      </div>
      <UsersDataTable/>
    </div>
  </div>
</template>

<script>
import * as types from "@/stores/modules/users/types";
import * as mutation_types from "@/stores/modules/users/mutation_types";
import UsersDataTable from "./users.datatable";
export default {
  name: "Dashboard",
  components: {
    UsersDataTable
  },
  data() {
    return {
      picker: null,
      menu2: false,
      statusSelectIcons: {
        ACTIVATED: require("@/assets/icons/activeIcon.svg"),
        DEACTIVATED: require("@/assets/icons/notactiveIcon.svg"),
        ON_MODERATION: require("@/assets/icons/disabled.svg")
      },
      typesSelectIcons: {
        turagenstva: require("@/assets/icons/fizlico.svg"),
        agent: require("@/assets/icons/fizlico.svg"),
        urlico: require("@/assets/icons/fizlico.svg"),
        fizlico: require("@/assets/icons/fizlico.svg"),
        postavshik: require("@/assets/icons/fizlico.svg")
      },
      groups: [
        {
          name: "Куратор",
          value: "CURATOR"
        },
        {
          name: "Менеджер",
          value: "MANAGER"
        }
      ],
      statuses: [
        {
          name: "Активный",
          value: "ACTIVATED"
        },
        {
          name: "Не Активный",
          value: "DEACTIVATED"
        },
        {
          name: "На модерации",
          value: "ON_MODERATION"
        }
      ],
      openUsersType: false,
      typesSelectValue: null,
      typesSelectName: "Тип пользователя",
      openCities: false,
      citiesSelectName: "Город",
      citiesSelectValue: null,
      openStatus: false,
      statusSelectValue: null,
      statusSelectName: "Статус"
    };
  },
  computed: {
    getCities() {
      return this.$store.getters["users/getAllCities"];
    }
  },
  created() {
    this.getAllUsers();
    this.getAllCities();
  },
  methods: {
    toggleUsersType() {
      this.openUsersType = !this.openUsersType;
    },
    selectUsersType(type = "") {
      this.typesSelectValue = type.value;
      this.typesSelectName = type.name;
      this.toggleUsersType();
    },
    toggleCities() {
      this.openCities = !this.openCities;
    },
    selectCities(type) {
      this.citiesSelectName = type.name;
      this.citiesSelectValue = type.name;
      this.toggleCities();
    },
    toggleStatus() {
      this.openStatus = !this.openStatus;
    },
    selectStatus(type) {
      this.statusSelectName = type.name;
      this.statusSelectValue = type.value;
      this.toggleStatus();
    },
    getAllUsers() {
      this.$store.dispatch("users/" + types.ALL_USERS);
    },
    getAllCities() {
      this.$store.dispatch("users/" + types.GET_CITIES);
    },
    restoreCities() {
      (this.citiesSelectName = "Город"), (this.citiesSelectValue = null);
    },
    restoreDate() {
      this.picker = null;
    },
    restoreStatuses() {
      (this.statusSelectName = "Статус"), (this.statusSelectValue = null);
    },
    restoreTypes() {
      (this.typesSelectName = "Тип пользователя"),
        (this.typesSelectValue = null);
    },
    searchInTable() {
      let parametres = "";
      if (this.citiesSelectValue != null) {
        parametres += `&city=${this.citiesSelectValue}`;
      }
      if (this.picker != null) {
        parametres += `&date_joined_gte=${this.picker}T07:00:00Z`;
      }
      if (this.typesSelectValue != null) {
        parametres += `&group=${this.typesSelectValue}`;
      }
      if (this.statusSelectValue != null) {
        parametres += `&status=${this.statusSelectValue}`;
      }
      this.$store.dispatch("users/" + types.SEARCH_USERS, parametres);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.dashboard-users {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1);
}
.dashboard-users p {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #2a2a2a;
}
.datatables-actions-search {
  width: 42px;
  height: 42px;
  display: flex;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dee2e7;
}
.datatables-actions {
  background-color: #f1f2f4;
}
.datatables-actions input:focus,
.datatables-actions select:focus {
  outline: none;
  box-shadow: none;
}
.datatables-actions input,
.datatables-actions select {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #4a4a4a;
}
.datatables-actions-types select:after {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.datatables-actions-types select {
  width: 100%;
  background-color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #4a4a4a;
}
.datatables-actions-types .dropdown button {
  margin: 0;
}
.datatables-actions-types .dropdown-toggle {
  width: 100%;
  text-align: left;
  border: solid 1px #dee2e7;
  background-color: #ffffff;
  background-image: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  padding: 12px;
  color: #4a4a4a;
}
.datatables-actions-types .btn-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
.datatables-actions-types .btn-secondary:focus,
.datatables-actions-types .btn-secondary.focus {
  box-shadow: none;
}
.datatables-actions-types .btn-secondary:hover {
  color: #4a4a4a;
}
.datatables-actions-types .dropdown-toggle::after {
  position: absolute;
  top: 18px;
  right: 10px;
}
.datatables-actions-types .dropdown-menu {
  width: 100%;
  padding: 0;
  border: none;
}
.datatables-actions-types .dropdown-item img {
  padding-right: 10px;
}
.datatables-actions-types .dropdown-item:hover {
  background-image: linear-gradient(to left, #3999b0, #044c86);
  color: #ffffff;
}
.datatables-actions-types .dropdown-item {
  overflow: hidden;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 10px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #4a4a4a;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dee2e7;
}
.dropdown-datapicker input {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 10px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #4a4a4a;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dee2e7;
}
.dropdown-datapicker input::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-datapicker.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-datapicker.dropdown::before {
  position: absolute;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  top: 17px;
  right: 25px;
  z-index: 1;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
}
.viewBtn button {
  padding: 9px 30px;
  border-radius: 3px;
  background-color: #ffc600;
}
.clearSearchBtn {
  position: absolute;
  top: 10px;
  right: -20px;
  cursor: pointer;
}
.clearSearchBtn i,
.clearSearchBtnDate i {
  font-size: 18px;
}
.clearSearchBtnDate {
  position: absolute;
  top: 10px;
  right: -5px;
  cursor: pointer;
}
.dashboard-users .dropdown-menu {
  max-height: 199px;
  overflow-y: auto;
}
</style>
