<template>
  <div class="w-100">
    <v-data-table
      :headers="headers"
      :items="getAllUsers"
      :pagination.sync="pagination"
      hide-actions
      class="elevation-1 col-12 users-table"
    >
      <template
        slot="items"
        slot-scope="props">
        <tr @click="toggleSideBarUsers(props.item.group, props.item.id)">
          <td>{{ props.item.id }}</td>
          <td class="text-xs-center">
            <img 
              :src="typesSelectIcons[props.item.group]"
              alt="">
          </td>
          <td class="text-xs-center">
            {{ props.item.profile.city }}
          </td>
          <td class="text-xs-center">{{ props.item.first_name +' ' + props.item.last_name }}</td>
          <td class="text-xs-center">{{ props.item.group}}</td>
          <td class="text-xs-center">{{ props.item.date_joined | moment("DD.MM.YY") }}</td>
          <td class="text-xs-center">{{ props.item.access }}</td>
          <td class="text-xs-center">
            <v-tooltip top>
              <img
                slot="activator"
                :src="statusSelectIcons[props.item.status]['src']"
                alt="">
              <span>{{ statusSelectIcons[props.item.status]['name'] }}</span>
            </v-tooltip>

          </td>
        </tr>
      </template>
      <template 
        slot="no-data" 
        class="text-xs-center" 
        style="text-align: center">
        <div class="loading_box">
          <div class="row">
            <div class="col-12 justify-content-center">
              <p>Извините, нет данных!</p>
            </div>
          </div>
        </div>
      </template>
    </v-data-table>
    <div class="pt-2 pagination-users">
      <v-pagination 
        v-model="pagination.page" 
        :length="pages"/>
    </div>
  </div>
</template>

<script>
import * as types from "@/stores/modules/layout/types";

export default {
  name: "UsersDataTable",
  data() {
    return {
      pagination: {
        rowsPerPage: 5
      },
      statusSelectIcons: {
        ACTIVATED: {
          src: require("@/assets/icons/activeIcon.svg"),
          name: "Активный"
        },
        DEACTIVATED: {
          src: require("@/assets/icons/notactiveIcon.svg"),
          name: "Не Активный"
        },
        ON_MODERATION: {
          src: require("@/assets/icons/disabled.svg"),
          name: "На Модерации"
        }
      },
      typesSelectIcons: {
        CURATOR: require("@/assets/icons/fizlico.svg"),
        agent: require("@/assets/icons/fizlico.svg"),
        urlico: require("@/assets/icons/fizlico.svg"),
        fizlico: require("@/assets/icons/fizlico.svg"),
        postavshik: require("@/assets/icons/fizlico.svg")
      },
      headers: [
        {
          text: "ID",
          align: "center",
          sortable: true,
          value: "id"
        },
        { text: "Тип", value: "type" },
        { text: "Город", value: "city" },
        { text: "Ф.И.О или название", value: "name" },
        { text: "Телефон", value: "phone" },
        { text: "Регистрация", value: "registration" },
        { text: "Ответственный", value: "access" },
        { text: "Статус", value: "status" }
      ]
    };
  },
  computed: {
    pages() {
      let users = this.$store.getters["users/getAllUsers"];
      if (this.pagination.rowsPerPage == null || users.length == null) return 0;

      return Math.ceil(users.length / this.pagination.rowsPerPage);
    },
    getAllUsers() {
      return this.$store.getters["users/getAllUsers"];
    }
  },
  methods: {
    toggleSideBarUsers(group,userId) {
      this.$store.dispatch("layout/" + types.CLOSE_SIDEBAR_USERS);
      this.$store.dispatch("layout/" + types.SET_USER_GROUP, {group: group,userId: userId});
    }
  }
};
</script>
<style>
.users-table {
  padding: 20px 45px;
  background-color: #ffffff;
}
.pagination-users .v-pagination > li {
  margin: 0 !important;
}
.pagination-users .v-pagination ul li button {
  margin: 0;
}
.pagination-users .v-pagination__item {
  margin: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.users-table thead {
  background-color: #f1f2f4;
}
.pagination-users {
  padding: 18px 35px !important;
}
.users-table .v-table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.users-table.elevation-1 {
  box-shadow: none !important;
}
.loading_box {
  text-align: center;
  padding: 25px;
}
</style>
