<template>

  <nav class="navbar navbar-md p-0 white--text">
    <div class="row col-12 m-0 p-0">
      <div class="col-8 navbar-box-fl d-flex p-0">
        <div class="col-3 logo-navbar">
          <a
            id="logo"
            href="#"
            class="navbar-brand white--text p-3">Modultravel</a>
        </div>
        <div class="col-10 toggleSideBarLeftFl p-0 align-items-center">
          <div class="col-1 menu-toggle px-3 p-3 text-center ">
            <button 
              class="">
              <img 
                :src="sideBarToggleIcon" 
                alt="">
            </button>
          </div>
          <div class="col-8 your-curator p-2">
            <div class="row align-items-center" style="display: flex;">
              <div class="col-1 text-left">
                <img
                  :src="img"
                  alt="">
              </div>
              <div 
                class="col-8 p-0 your-curator-fl align-items-left"
                style="white-space: nowrap">
                <div class="">
                  <div class="col-12 your-curator-title">
                    <p>ВАШ КУРАТОР</p>
                  </div>
                  <div class="col-12 your-curator-name">
                    <p>Gurgen Yeghiazaryan</p>
                  </div>
                </div>

              </div>
              <div class="p-0 text-left mr-auto">
                <button><v-icon>keyboard_arrow_down</v-icon></button>
              </div>
            </div>
          </div>
          <div class="col-md-4 search-navbar">
            <div class="row">
              <div class="col-12">
                <v-flex
                  xs12
                  sm12
                  md12>
                  <v-text-field
                    style="margin: 0;"
                    class="align-items-center"
                    prepend-icon="search"
                    label="Поиск по странице..."
                  />
                </v-flex>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4  user_data_action_fl align-items-center p-0">
        <div class="col-9 user-data p-0">
          <ul class="row user-data-actions">
            <li class="">
              <a href="#">
                <img
                  :src="navBarIcons.payment"
                  alt=""
                  class="text-right navbar-right-icons">
              </a>
            </li>
            <li class="">
              <a href="#">
                <img
                  :src="navBarIcons.message"
                  alt=""
                  class="text-right navbar-right-icons">
              </a>
            </li>
            <li class="">
              <a href="#">
                <img
                  :src="navBarIcons.ring"
                  alt=""
                  class="text-right navbar-right-icons">
              </a>
            </li>
            <li class="">
              <a href="#">
                <img
                  :src="navBarIcons.payment"
                  alt=""
                  class="text-right navbar-right-icons">
              </a>
            </li>

          </ul>
        </div>
        <div class="col-2 p-0 user-data-photo text-center">
          <img
            :src="img"
            alt="">
        </div>
        <div class="">
          <img
            :src="navBarIcons.menu"
            alt=""
            class="text-right navbar-right-icons">
        </div>
      </div>
    </div>


  </nav>
</template>
<script>
// import * as types from "@/stores/modules/layout/types";
export default {
  name: "NavBar",
  data() {
    return {
      navBarIcons: {
        payment: require("@/assets/icons/paymentIcon.svg"),
        message: require("@/assets/icons/messageIcon.svg"),
        menu: require("@/assets/icons/menuIcon.svg"),
        ring: require("@/assets/icons/ring.svg")
      },
      sideBarToggleIcon: require("@/assets/icons/sidebartoggle.svg"),
      img: require("@/assets/imna.jpg")
    };
  },
  methods: {
    // toggleSideBar() {
    //   this.$store.dispatch("layout/" + types.CLOSE_SIDEBAR);
    // },
    // toggleSideBarRight() {
    //   this.$store.dispatch("layout/" + types.CLOSE_SIDEBAR_RIGHT);
    // }
  }
};
</script>

<style>
.navbar.navbar-md {
  position: fixed;
  z-index: 999;
  min-width: 100%;
  background-image: linear-gradient(to left, #3999b0, #044c86);
}
.menu-toggle {
  padding-top: 16px !important;
  padding-bottom: 17px !important;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
p {
  margin: 0;
}
.your-curator-title {
  font-size: 11px;
  color: #ffffff;
  opacity: 0.7;
  padding-bottom: 5px;
}
.your-curator-name {
  font-size: 13px;
}
.your-curator img {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.search-navbar .v-input .v-label {
  font-size: 12px !important;
}
.search-navbar .v-input__slot {
  margin-bottom: 0 !important;
}
.search-navbar .v-text-field__slot label {
  top: 12px !important;
}
.search-navbar .v-text-field > .v-input__control > .v-input__slot:before {
  border-style: none !important;
}
.search-navbar .v-text-field > .v-input__control > .v-input__slot:before {
  border: none !important;
}
.user-data-actions {
  margin: 0;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  padding: 0;
}
.user-data-actions li {
  list-style-type: none;
  padding: 5px;
}
.user-data-photo img {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.your-curator {
  font-family: Roboto;
  border-right: 1px solid;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.your-curator .v-icon {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-right-icons {
  width: 15px;
  height: 18px;
  cursor: pointer;
}
  .navbar-box-fl {
    display: flex;
    flex-direction: row;
  }
  .your-curator-fl{
    display: flex;
    flex-flow: column;
  }
.toggleSideBarLeftFl {
  display: flex;
}
  .user_data_action_fl {
    display: flex;
    flex-flow: row;
  }

</style>
