<template>
  <div class="wrapper h-100">
    <nav
      id="sidebar" 
      :class="['col-2 p-0',{sideBarWidth: toggleSideBar}]">
      <ul class="list-unstyled components p-0">
        <li class="row m-0 active d-flex flex-row align-items-center">
          <div class="col-2 text-right">
            <img
              :src="menuIcons.uslugi"
              alt=""
              class="text-right menu-icon-list">
          </div>
          <a
            href="#homeSubmenu"
            class="align-items-center d-flex">Услуги
          </a>
          <span 
            class="arrow-down-icon-sidebar text-right"><v-icon>keyboard_arrow_down</v-icon></span>
        </li>
        <li class="row m-0 d-flex flex-row align-items-center">
          <div class="col-2 text-right">
            <img
              :src="menuIcons.klient"
              alt=""
              class="text-right menu-icon-list">
          </div>
          <a
            href="#homeSubmenu"
            class="align-items-center d-flex">Клиенты
          </a>
          <span
            class="text-right arrow-down-icon-sidebar"><v-icon>keyboard_arrow_down</v-icon></span>
        </li>
        <li class="row m-0 d-flex flex-row align-items-center">
          <div class="col-2 text-right">
            <img
              :src="menuIcons.zayavki"
              alt=""
              class="text-right menu-icon-list">
          </div>
          <a
            href="#homeSubmenu"
            class="align-items-center d-flex">Заявки
          </a>
          <span class=" arrow-down-icon-sidebar text-right"><v-icon>keyboard_arrow_down</v-icon></span>
        </li>
        <li class="row m-0 d-flex flex-row align-items-center">
          <div class="col-2 text-right">
            <img
              :src="menuIcons.obuchenie"
              alt=""
              class="text-right menu-icon-list">
          </div>
          <a
            href="#homeSubmenu"
            class="align-items-center d-flex">Обучение
          </a>
          <span
            class="arrow-down-icon-sidebar text-right"><v-icon>keyboard_arrow_down</v-icon></span>
        </li>
        <li class="row m-0 d-flex flex-row align-items-center">
          <div class="col-2 text-right">
            <img
              :src="menuIcons.bazaZnanii"
              alt=""
              class="text-right menu-icon-list">
          </div>
          <a
            href="#homeSubmenu"
            class="align-items-center d-flex">База знаний
          </a>
          <span
            class="arrow-down-icon-sidebar text-right"><v-icon>keyboard_arrow_down</v-icon></span>
        </li>
      </ul>
    </nav>
    <div
      id="content"
      :class="[toggleSideBar ? 'contentNoSideBar' : 'content']">
      <router-view/>
    </div>
  </div>
</template>

<script>
export default {
  name: "SideBar",
  data() {
    return {
      menuIcons: {
        uslugi: require("@/assets/icons/lock.svg"),
        klient: require("@/assets/icons/klient.svg"),
        zayavki: require("@/assets/icons/zayavki.svg"),
        obuchenie: require("@/assets/icons/obuchenie.svg"),
        bazaZnanii: require("@/assets/icons/znanii.svg")
      }
    };
  },
  computed: {
    toggleSideBar() {
      return this.$store.state.layout.sideBarWidth;
    }
  }
};
</script>
<style scoped>
#sidebar.sideBarWidth {
  margin-left: -333px;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  position: fixed;
  top: 53px;
  left: 0;
  height: 100vh;
  z-index: 999;
  background-image: linear-gradient(163deg, #35414d, #42505d);
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  #sidebar {
    /*margin-left: -250px;*/
  }
  #sidebar.active {
    margin-left: 0;
  }
}
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  background-image: linear-gradient(163deg, #35414d, #42505d);
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}
/*#sidebar ul li a:before {*/
/*content: "";*/
/*display: inline-block;*/
/*background: url("../../assets/icons/lock.svg") no-repeat top right;*/
/*width: 18px;*/
/*height: 18px;*/
/*}*/
#sidebar ul li a {
  padding: 15px;
  padding-left: 0;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li:hover {
  color: #7386d5;
  background: #fff;
}
#sidebar ul li {
  padding-left: 8px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#sidebar ul li.active,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}
.content {
  margin-left: 290px;
  margin-right: 40px;
  margin-top: 80px;
  width: 100%;
  transition: all 0.3s;
}
.contentNoSideBar {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 80px;
  width: 100%;
  transition: all 0.3s;
}
.menu-icon-list {
  width: 14px;
  height: 18px;
}
.arrow-down-icon-sidebar {
  padding-right: 15px;
  color: rgba(255, 255, 255, 0.5);
}
.arrow-down-icon-sidebar .v-icon.material-icons {
  color: rgba(255, 255, 255, 0.5);
}
</style>
