<!--<template>-->
  <!--<nav-->
    <!--id="sidebarRight"-->
    <!--:class="['col-6 p-0',{sideBarWidth: toggleSideBar}]">-->
    <!--<AgentProfile-->
      <!--v-if="getCurrentUserGroup == 'MANAGER'"-->
      <!--:type="'1'"/>-->
    <!--<AgentstvoProfile-->
      <!--v-if="getCurrentUserGroup == 'CURATOR'"-->
      <!--:type="'1'"/>-->
    <!--<AdminProfile-->
      <!--v-if="getCurrentUserGroup == 'ADMIN'"-->
      <!--:type="'1'"/>-->
  <!--</nav>-->
<!--</template>-->

<!--<script>-->
<!--import AgentProfile from "./usersProfile/agent.profile";-->
<!--import AgentstvoProfile from "./turAgenstvoProfile/agenstvo.profile";-->
<!--import AdminProfile from "./adminProfile/admin.profile";-->

<!--export default {-->
  <!--name: "SideBarRight",-->
  <!--components: {-->
    <!--AgentProfile,-->
    <!--AdminProfile,-->
    <!--AgentstvoProfile-->
  <!--},-->
  <!--data() {-->
    <!--return {};-->
  <!--},-->
  <!--computed: {-->
    <!--toggleSideBar() {-->
      <!--return this.$store.state.layout.sideBarWidthRight;-->
    <!--},-->
    <!--getCurrentUserGroup() {-->
      <!--let agencyManagerType = this.$store.state.layout.agencyManager;-->
      <!--if (!agencyManagerType.type) {-->
        <!--let user = this.$store.state.auth.user;-->
        <!--return user.group;-->
      <!--} else {-->
        <!--return "MANAGER";-->
      <!--}-->
    <!--}-->
  <!--}-->
<!--};-->
<!--</script>-->
<!--<style scoped>-->
<!--#sidebarRight.sideBarWidth {-->
  <!--right: -1000px;-->
<!--}-->
<!--#sidebarRight {-->
  <!--position: fixed;-->
  <!--top: 54px;-->
  <!--right: 0px;-->
  <!--height: 100vh;-->
  <!--z-index: 999;-->
  <!--background-color: #ffffff;-->
  <!--color: #2a2a2a;-->
  <!--transition: all 0.3s;-->
  <!--box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1);-->
<!--}-->
<!--</style>-->
