<!--<template>-->
  <!--<nav-->
    <!--id="sidebarRightTur"-->
    <!--:class="['col-6 p-0',{sideBarWidthUsers: toggleSideBar}]">-->
    <!--<AgentstvoProfile -->
      <!--v-if="getUserGroup == 'CURATOR'" -->
      <!--:type="'0'"/>-->
    <!--<AgentProfile-->
      <!--v-if="getUserGroup == 'MANAGER'"-->
      <!--:type="'0'"/>-->
    <!--<AdminProfile-->
      <!--v-if="getUserGroup == 'ADMIN'"-->
      <!--:type="'0'"/>-->
  <!--</nav>-->
<!--</template>-->

<!--<script>-->
<!--import AgentstvoProfile from "./turAgenstvoProfile/agenstvo.profile";-->
<!--import AgentProfile from "./usersProfile/agent.profile";-->
<!--import AdminProfile from "./adminProfile/admin.profile";-->

<!--export default {-->
  <!--name: "SideBarTur",-->
  <!--components: {-->
    <!--AgentProfile,-->
    <!--AgentstvoProfile,-->
    <!--AdminProfile-->
  <!--},-->
  <!--data() {-->
    <!--return {};-->
  <!--},-->

  <!--computed: {-->
    <!--toggleSideBar() {-->
      <!--return this.$store.state.layout.sideBarWidthUsers;-->
    <!--},-->
    <!--getUserGroup() {-->
      <!--return this.$store.state.layout.sideBarUsersGroup.group;-->
    <!--}-->
  <!--}-->
<!--};-->
<!--</script>-->
<!--<style scoped>-->
<!--#sidebarRightTur.sideBarWidthUsers {-->
  <!--right: -1000px;-->
<!--}-->
<!--#sidebarRightTur {-->
  <!--position: fixed;-->
  <!--top: 54px;-->
  <!--right: 0px;-->
  <!--height: 100vh;-->
  <!--z-index: 999;-->
  <!--background-color: #ffffff;-->
  <!--color: #2a2a2a;-->
  <!--transition: all 0.3s;-->
  <!--box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1);-->
<!--}-->
<!--</style>-->
