<template>
  <v-app style="height: 100%">
    <div style="height: 100%;min-width: 980px">
      <component :is="layout">
        <router-view/>
      </component>
    </div>
  </v-app>
</template>
<script>
import * as types from "@/stores/types";
const default_layout = "default";

export default {
  name: "app",
  data() {
    return {
      rightDrawer: false,
      title: "Vuetify.js"
    };
  },
  computed: {
    layout() {
      return (this.$route.meta.layout || default_layout) + "-layout";
    }
  },
  created() {
    this.$store.dispatch(types.A_GET_GLOBAL_DATA);
  }
};
</script>
<style lang="scss">
  @import '../node_modules/bootstrap/scss/bootstrap.scss';
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
