<template>
  <div class="w-100 bg-project h-100">
    <NavBar/>
    <SideBar/>
    <!--<SideBarRight/>-->
    <!--<SideBarRightTur/>-->

  </div>
</template>

<script>
import NavBar from "../components/main/NavBar";
import SideBar from "../components/main/SideBar";
import SideBarRight from "../components/main/SideBarRight";
import SideBarRightTur from "../components/main/SideBarUsers";

export default {
  name: "Default",
  components: {
    SideBar,
    SideBarRight,
    NavBar,
    SideBarRightTur
  },
  data() {
    return {};
  }
};
</script>
<style>
.bg-project {
  background-color: #eeeff1;
}
</style>
