<template>
  <div class="h-100 d-flex flex-row pace-done" style="background-color: #fff;">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: "NoSideBar",
  data() {
    return {};
  }
};
</script>
<style scoped>

</style>