<template>
    <div class="confirmPassword">
        <div class="sendEmailLeft">
            <div class="sendEmailLeftLogo">
                <img :src="require('@/assets/images/logo.svg')" alt="">
            </div>
            <div class="sendEmailLeftForm">
                <div class="sendEmailLeftFormTitle">
                    <p>Потвердите Пароль</p>
                </div>
                <div class="sendEmailLeftFormBox">
                    <div class="sendEmailLeftFormBoxInput">
                        <input type="password" v-model="password" placeholder="Введите пароль">
                        <input type="password" v-model="confirmPassword" placeholder="Потвердите пароль">
                        <button @click="confirmPasswordPost()">Отправить</button>
                    </div>
                </div>
            </div>
            <div class="sendEmailLeftBottom">
                <a href="#">ЗАБЫЛИ ПАРОЛЬ?</a>
                <a href="#">ЗАРЕГИСТРИРОВАТЬСЯ</a>
            </div>
        </div>
        <div class="sendEmailRight">
            <img :src="require('@/assets/images/signinbg.jpg')" alt="">
        </div>
    </div>
</template>
<script>
import * as types from "@/stores/modules/auth/types";
export default {
  name: "ConfirmPassword",
  data() {
    return {
      password: "",
      confirmPassword: ""
    };
  },
    mounted() {
      console.log((localStorage.getItem('user')))
    },
  methods: {
    confirmPasswordPost() {
      let data = {
        secret_code: this.$route.query.secret_code,
        password: this.password,
        confirm_password: this.confirmPassword
      };
      this.$store
        .dispatch("auth/" + types.A_CONFIRM_PASSWORD, data)
        .then(res => {
            this.$router.push("dashboard");
        });
    }
  }
};
</script>
<style>
.confirmPassword {
  min-width: 980px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 100%;
}
.confirmPassword .sendEmailLeftFormTitle {
  margin-bottom: 50px;
}
</style>
