<template>
    <div class="sendEmail">
        <div class="sendEmailLeft">
            <div class="sendEmailLeftLogo">
                <img :src="require('@/assets/images/logo.svg')" alt="">
            </div>
            <div class="sendEmailLeftForm" >
                <div class="sendEmailLeftFormTitle">
                    <p>Вход в систему</p>
                </div>
                <div class="sendEmailLeftFormBox">
                    <div class="sendEmailLeftFormBoxSelect">
                        <div class="sendEmailLeftFormBoxSelectBox">
                            <input type="radio" id="registerCorpClient_0" value="MN" style="display: none" v-model="groupName">
                            <label for="registerCorpClient_0">
                                <div class="registerCorpClientImg">
                                    <span>
                                        <img :src="require('@/assets/images/businessman.svg')" alt="">
                                    </span>
                                </div>
                                <div class="registerCorpClientTitle">
                                    <p>Турагент</p>
                                </div>
                            </label>
                        </div>
                        <div class="sendEmailLeftFormBoxSelectBox">
                            <input type="radio" id="registerCorpClient_1" value="CR" style="display: none" v-model="groupName">
                            <label for="registerCorpClient_1">
                                <div class="registerCorpClientImg">
                                    <span>
                                        <img :src="require('@/assets/images/businessman.svg')" alt="">
                                    </span>
                                </div>
                                <div class="registerCorpClientTitle">
                                    <p>Турагентство</p>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="sendEmailLeftFormBoxInput">
                        <input type="email" v-model="email" placeholder="Введите почтовый адрес">
                        <input type="password" v-model="password" placeholder="Введите пароль">
                        <button @click="login()">Отправить</button>
                        <div class="errorMessages">
                            <ul>
                                <li v-for="(error, key) in errorMessage">
                                    <div v-if="key == 'email'">
                                        {{error[0]}}
                                    </div>
                                    <div v-if="key == 'group'">
                                        Обязательно выберите группу!
                                    </div>
                                    <div v-if="key == 'login'">
                                        Отправлены некорректные данные
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sendEmailLeftBottom">
                <a href="#">ЗАБЫЛИ ПАРОЛЬ?</a>
                <router-link to="/sign-up" tag="a">
                    ЗАРЕГИСТРИРОВАТЬСЯ
                </router-link>
            </div>
        </div>
        <div class="sendEmailRight">
            <img :src="require('@/assets/images/signinbg.jpg')" alt="">
        </div>
    </div>
</template>

<script>
import * as types from "@/stores/modules/auth/types";

export default {
  name: "SignIn",
  data() {
    return {
      username: "",
      password: "",
      groups: [],
      groupName: "",
      email: "",
      phoneNumber: "",
      errorMessage: "",
      successMessage: false
    };
  },
  computed: {
    getGroups() {
      return this.$store.state.global_data;
    }
  },
  methods: {
    login() {
      this.errorMessage = "";
      this.$store
        .dispatch("auth/" + types.A_SIGN_IN, {
          password: this.password,
          email: this.email,
          group: this.groupName
        })
        .then(res => {
          if (res.status == 200) {
            this.$router.push('/dashboard')
          }
        })
        .catch(err => {
          if (err.status == 400) {
            this.errorMessage = err.data.info;
          }
        });
    }
  }
};
</script>

<style>
.sendEmail {
  min-width: 980px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 100%;
}
.sendEmailLeft {
  width: 33%;
  height: 100%;
  text-align: left;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
}
.sendEmailRight img {
  max-width: 100%;
  /*max-height:100%;*/
}
.sendEmailRight {
  width: 53%;
  text-align: right;
  height: 100%;
}
.sendEmailLeftFormBoxSelect {
  display: flex;
  flex-flow: row nowrap;
}
.sendEmailLeftLogo {
  margin-bottom: 40px;
}
.sendEmailLeftFormTitle {
  line-height: 53px;
  font-size: 42px;
  color: #000000;
  padding-left: 20px;
}
.sendEmailLeftForm {
  width: 100%;
}
.sendEmailLeftFormBoxSelectBox {
  text-align: center;
  padding: 12px;
  width: 30%;
}
.registerCorpClientImg span {
  display: inline-block;
  border-radius: 50px;
  padding: 10px;
  background-color: #e5e5e5;
}
.registerCorpClientTitle {
  line-height: normal;
  font-size: 12px;
  text-align: center;
  color: #44454d;
  margin-top: 15px;
}
.registerCorpClientImg img {
  max-width: 100%;
}
.sendEmailLeftFormBoxSelectBox label {
  overflow: hidden;
  cursor: pointer;
  display: block;
  padding: 6px;
}
.sendEmailLeftFormBoxSelectBox input:checked + label {
  background-color: #e5e5e5;
}
.sendEmailLeftFormBoxSelectBox
  input:checked
  + label
  .registerCorpClientImg
  span {
  background-color: #eec400;
}
.sendEmailLeftFormBoxInput {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-flow: column wrap;
}
.sendEmailLeftFormBoxInput input {
  background: #ffffff;
  padding: 14px 40px;
  border: 2px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}
.sendEmailLeftFormBoxInput button {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  padding: 14px 40px;
  background: #eec400;
  border-radius: 4px;
}
.sendEmailLeftBottom {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.sendEmailLeftBottom a {
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #44454d;
}
.errorMessages ul li {
  font-size: 12px;
  color: red;
}
.errorMessages ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.errorMessages ul .errorKey {
  color: #000000;
}
.errorMessages ul li div {
  margin-top: 10px;
}
.sendEmailSuccess {
  width: 100%;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 400;
  /*text-align: center;*/
}
</style>
